* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: white;
  background-image: url('https://raw.githubusercontent.com/AverseABFun/stackblitz-assets/main/stars.png');
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  display: inline;
}

.moon-image {
  height: 50px;
}

.page {
  opacity: 0;
  display: none;
}
.check-var {
  opacity: inherit;
  display: inherit;
}

.sick {
  color: greenyellow;
}

#cover {
  height: 100%;
}
#cover-page {
  text-align: center;
}

button {
  border: none;
  color: white;
  background-color: grey;
  margin-right: 5px;
}
button:hover {
  cursor: pointer;
  background-color: darkblue;
}

button:disabled:hover {
  cursor: default;
  background-color: #555;
}
button:disabled {
  background-color: #555;
}

.dont-break {
  white-space: nowrap;
}

.ending-image {
  height: 400px;
}
